.container {
    width: 100%;
    height: 100vh;
    background: #F5F5F5;
}

.swiperContentContainer {
    display: flex;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
}

.swiperContent {
    width: 100%;
    height: 37.5rem;
    justify-content: center;
}

.swiperContentImage {
    position: absolute;
}

.swiperContentImageWrapper {
    position: relative;
    overflow: hidden;
    width: 37.5rem;
    height: 37.5rem;
}

.multipleSliderViewContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.multipleSliderView {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    height: 200px;
}

.imageContainer { 
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.wrapper {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
}

#slide1 {
    position: absolute;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    border-radius: 10px;
}

#slide2 {
    position: absolute;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    border-radius: 10px;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    100% {
        -webkit-transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

#slide3 {
    position: absolute;
    animation-name: slide-out3;
    animation-duration: 0.5s;
}

#slide4 {
    position: absolute;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slide-in3 {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out3 {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in3 {
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in3 {
    100% {
        -webkit-transform: translateX(100%);
    }
}

@keyframes slide-out3 {
    from { transform: translateX(0)}
    to {transform: translateX(100%)}
}


.notCurrent {
    display: none;
}

//Arrows
.arrowContainer {
    height: 30px;
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    height: 3px;
    width: 3px;
}

//thumbnailTitles
.thumbnailTitles {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: 350;
    word-wrap: break-word;
}

//title
.title {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

@media only screen and (max-width: 1024px) {
    .arrowContainer {
        display: none;
    }


    .swiperContentContainer {
        display: flex;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .multipleSliderView {
        width: 60%;
    }
}

@media only screen and (max-width: 780px) {
    
    .multipleSliderView {
        width: 80%;
    }
}

@media only screen and (max-width: 540px) {
    
    .swiperContentImageWrapper {
        width: 30rem;
        height: 30rem;
    }

    .slide-in {
        width: 30rem;
        height: 30rem;
    }

    .slide-out {
        width: 30rem;
        height: 30rem;
    }

    .multipleSliderView {
        width: 90%;
    }

    .imageContainer {
        width: 80px;
        height: 80px;
        
    }
    
    .wrapper {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }

    .thumbnailTitles{
        width: 80px;
        padding-right: 10px;
    }

}

@media only screen and (max-width: 414px) {
    
    .swiperContentImageWrapper {
        width: 22rem;
        height: 22rem;
    }

    .swiperContent {
        width: 99%;
    }

    .slide-in {
        width: 22rem;
        height: 22rem;
    }

    .slide-out {
        width: 22rem;
        height: 22rem;
    }
}


@media only screen and (max-width: 400px) {
    
    .swiperContentImageWrapper {
        width: 20rem;
        height: 20rem;
    }

    .slide-in {
        width: 20rem;
        height: 20rem;
    }

    .slide-out {
        width: 20rem;
        height: 20rem;
    }
}

@media only screen and (max-width: 320px) {
    
    .swiperContentImageWrapper {
        width: 18rem;
        height: 18rem;
    }

    .slide-in {
        width: 18rem;
        height: 18rem;
    }

    .slide-out {
        width: 18rem;
        height: 18rem;
    }
}

@media only screen and (max-width: 280px) {
    
    .swiperContentImageWrapper {
        width: 15rem;
        height: 15rem;
    }

    .slide-in {
        width: 15rem;
        height: 15rem;
    }

    .slide-out {
        width: 15rem;
        height: 15rem;
    }
}
